######## July 31, 2015
importFrom(stats,drop1,contr.helmert,cov,pchisq,update,terms,na.omit,na.fail,pgamma,pbeta)
importFrom(stats,model.extract,model.matrix,var,residuals,formula,rnorm,as.formula,lm)
importFrom(graphics,pairs)
importFrom(grDevices,rainbow)
S3method(drop1, dr)
S3method(drop1, psave)
S3method(drop1, psir)

################ Aug 22, 2007
export(dr)
export(dr.compute)
export(dr.weights )
export(dr.step )
export(drop1.dr )
export(dr.x)
export(dr.y)
export(dr.z)

export(dr.permutation.test)
export(dr.coordinate.test )
export(dr.test )
export(dr.joint.test )

export(dr.slices) 
export(dr.slices.arc) 
export(dr.basis )
export(dr.directions )
export(plot.dr )
export(dr.direction )
export(dr.pvalue )
export(coord.hyp.basis )

importFrom(MASS, cov.rob)

S3method(dr.basis, default)
S3method(dr.basis, ire)
S3method(dr.coordinate.test, default)
S3method(dr.coordinate.test, sir)
S3method(dr.coordinate.test, psir)
S3method(dr.coordinate.test, save)
S3method(dr.coordinate.test, psave)
S3method(dr.coordinate.test, ire)
S3method(dr.coordinate.test, pire)
S3method(dr.fit, default)
S3method(dr.fit, ire)
S3method(dr.fit, pire)
S3method(dr.M, ols)
S3method(dr.M, sir)
S3method(dr.M, msir)
S3method(dr.M, save)
S3method(dr.M, phdy)
S3method(dr.M, phd)
S3method(dr.M, mphd)
S3method(dr.M, phdres)
S3method(dr.M, mphdres)
S3method(dr.M, phdq)
S3method(dr.M, mphdq)
S3method(dr.permutation.test.statistic, default)
S3method(dr.permutation.test.statistic, phd)
S3method(dr.permutation.test.statistic, phdres)
S3method(dr.permutation.test.statistic, phdy)
S3method(dr.test, default)
S3method(dr.test, sir)
S3method(dr.test, save)
S3method(dr.test, phd)
S3method(dr.test, phdres)
S3method(dr.test, phdy)
S3method(dr.test, phdq)
S3method(dr.Q, default)
S3method(dr.R, default)
S3method(dr.y, default)
S3method(dr.joint.test, default)
S3method(dr.joint.test, ire)
S3method(dr.y, phd)
S3method(dr.y, phdq)
S3method(dr.y, phdres)
S3method(dr.y, phdy)
S3method(plot, dr)
S3method(print, dr)
S3method(print, ire)
S3method(print, summary.dr)
S3method(print, summary.ire)
S3method(summary, dr)
S3method(summary, ire)
S3method(summary, pire)
S3method(summary, psir)
S3method(summary, psave)
S3method(summary, dr.permutation.test)
S3method(dr.direction, default)
S3method(dr.direction, ire)
